/* Page styles */

body {
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
}

/* Screen responsive styles */

@media screen and (max-width: 600px) {
  body {
    font-size: 1rem;
  }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
  body {
    font-size: 1.15rem;
  }
}
